{% load static %}
<html>
<head>
	<title>Tutorial App</title>
</head>
<body>
	{% if user.is_authenticated %}
	<h1>Welcome to Tutorial App {{ user.username }}</h1>
	{% else %}
	<h1>Tutorials</h1>
	{% endif %}

	<a href="/about">About Us</a>

	{% if user.is_authenticated %}
	<a href="/add-category/">Add Category</a>
	<a href="/logout">Logout</a>
	{% else %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	{% endif %}



	{% if categories %}
		{% for category in categories %}
			<a href="category/{{category.slug}}"><p>{{ category.name }}</p></a>
		{% endfor %}
	{% else %}
		<p>There are no categories!</p>
	{% endif %}
	{% if pages %}
		{% for page in pages %}
		<a href="{{ page.url }}">{{ page.title }}</a>
		{% endfor %}
	{% else %}
		<p>There are no pages</p>
	{% endif %}	




	<img src="{% static 'images/photo.jpeg' %}">

</body>
</html>